* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

#header {
  padding: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a {
  color: rgb(68, 68, 68);
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

#new_home {
  height: 800px;
  background: url(./image/61127627883dbb0802b613e3_Hero\ Background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.cover {
  width: 100%;
  height: 100%;
  background: rgba(248, 243, 243, 0.718);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.new_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.new_home_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.new_home_logo h1 {
  color: rgb(68, 68, 68);
  font-size: 25px;
  font-weight: 800;
  line-height: 16px;
}

.new_home_text h2 {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
}

.new_home_icon {
  position: relative;
}
.arrow {
  position: absolute;
  bottom: 70px;
}
.rectangle {
  position: absolute;
  bottom: 50px;
  left: 740px;
  z-index: -1;
}

#goal {
  background: #fafafc;
  padding: 99px;
}
.goal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}
.goal_text {
}
.goal_text h6 {
  color: rgb(255, 138, 99);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.goal_text h1 {
  width: 491px;
  color: rgb(69, 82, 91);
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: left;
}

.goal_comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.goal_comment p {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  width: 561px;
}

.goal_ava {
  display: flex;
  align-items: center;
  gap: 10px;
}

.goal_ava h5 {
  color: rgb(69, 82, 91);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

.goal_ava h6 {
  color: rgb(111, 114, 120);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}

#listings {
  padding: 99px;
}
.listings_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listings_text h6 {
  color: rgb(255, 138, 99);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.listings_text h2 {
  margin-bottom: 20px;
  color: rgb(69, 82, 91);
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
}
.listings_text p {
  width: 561px;
  color: rgb(111, 114, 120);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
}
.listings_box {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.listings_blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.listings_boxes {
  padding: 30px 21px;
  width: 300px;
  height: 167px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 204, 209, 0.2);
  border-radius: 10px;
  background: #fff;
}
.listings_boxes:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background: rgb(250, 250, 252);
}
.listings_boxes h5 {
  color: rgb(69, 82, 91);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.listings_boxes h6 {
  width: 196px;
  color: rgb(111, 114, 120);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}
#people img {
  background-size: cover;
  background-position: center;
}

.people {
  display: flex;
}

.people_text {
  padding: 130px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.people_text h5 {
  color: rgb(255, 138, 99);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.people_text h1 {
  margin-bottom: 20px;
  width: 309px;
  color: rgb(69, 82, 91);
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
}
.people_text p {
  width: 368px;
  color: rgb(111, 114, 120);
  font-size: 17px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
.people_text h6 {
  color: rgb(69, 82, 91);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.people_span {
  display: flex;
  align-items: center;
  gap: 6px;
}
.people_span span {
  color: rgb(69, 82, 91);
  margin-top: 4px;
}
.people_blocks {
  display: flex;
  gap: 100px;
}
.our_people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.our_people2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.people_ava {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}
.people_ava:hover {
  transform: scale(1.1);
  transition: 1s;
  background: rgb(250, 250, 252);
}
.people_ava_text {
  display: flex;
  flex-direction: column;
}
.people_ava_text h5 {
  color: rgb(69, 82, 91);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}
.people_ava_text h6 {
  color: rgb(111, 114, 120);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}

#news_room {
  padding: 110px;
  background: rgb(250, 250, 252);
}
.news_room_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news_room_text h5 {
  color: rgb(255, 138, 99);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.news_room_text h2 {
  color: rgb(69, 82, 91);
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
}
.news_room_blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room_box {
  margin-top: 30px;
  width: 376px;
  height: 364.31px;
  box-sizing: border-box;
  background: #fff;
}
.room_box_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}
.room_box_text h6 {
  color: rgb(255, 138, 99);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.room_box_text h5 {
  width: 308px;
  color: rgb(69, 82, 91);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.room_box_text p {
  color: rgb(111, 114, 120);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}

.room_end {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 50px;
}
.room_end h5 {
  color: rgb(69, 82, 91);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.room_end span {
  color: rgb(69, 82, 91);
}
